/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://fonts.googleapis.com/css?family=Lato:300:400");

.headerAndWaves {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
  height: calc(100svh - var(--ifm-navbar-height));
  background: var(--main-gradient);
  color: white;
}

.header {
  flex: 1;
  display: flex;
  margin: 20px auto;
}

.leftHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 440px;
}

.fullLogo {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.logoIcon {
  width: 60px;
  height: 60px;
  fill: white;
}

.logoText {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 6px;
}

.tagline {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

.rightHeader {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 50px 20px;
}

.rightHeader img {
  border: 10px solid var(--secondary-btn-bg);
  border-radius: 20px;
  max-height: 600px;
  height: auto;
}

.waves {
  height: 15svh;
  width: 100%;
  margin-bottom: -8px; /*Fix for safari gap*/
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
  }

  .leftHeader {
    justify-content: start;
    min-width: 360px;
    margin-top: 15px;
  }

  .logoIcon{
    width: 50px; /* Smaller logo for mobile */
    height: 50px;
  }

  .logoText {
    font-size: 35px; /* Smaller text for mobile */
  }

  .tagline {
    font-size: 1rem;
  }

  .rightHeader {
    justify-content: end;
    padding: 0;
    margin-bottom: 15px;
  }

  .rightHeader img {
    border: 5px solid var(--secondary-btn-bg); /* Smaller border on mobile */
    height: 80%;
    max-height: 250px;
  }

  .waves {
    height: 7.5svh;
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (prefers-reduced-motion) {
  .parallax > use {
    animation: none;
  }
}