/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://fonts.googleapis.com/css?family=Lato:300:400");

.header {
  position: relative;
  text-align: center;
  background: var(--main-gradient);
  color: white;
}

.logoSVG {
  width: 60px;
  height: 60px;
  fill: white;
  margin-right: 10px;
}

.logoText {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
  margin-bottom: 2px;
}

.innerHeader {
  height: 75vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logoAndTagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tagline {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.preview {
  max-width: 600px;
  height: auto;
}

.preview img {
  margin-left: 100px;
  border: 10px solid var(--secondary-btn-bg);
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

@media (max-width: 768px) {
  .innerHeader {
    flex-direction: column;
  }

  .logoSVG {
    width: 40px; /* Smaller logo for mobile */
    height: 40px;
  }

  .logoText {
    font-size: 30px; /* Smaller text for mobile */
  }

  .preview img {
    margin: 20px;
    border: 5px solid var(--secondary-btn-bg); /* Smaller border on mobile */
    width: 80%; /* Shrink on mobile */
  }

  .waves {
    height: 5vh;
    margin-bottom: -8px; /*Fix for safari gap*/
    min-height: 50px;
    max-height: 100px;
  }
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/* Fade-in animation */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

/* Fade-in from left animation */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation: fadeInLeft 1s ease forwards;
}

/* Fade-in from right animation */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation: fadeInRight 1s ease forwards;
}
