/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4e71b7;
  --ifm-color-primary-dark: #3c5890;
  --ifm-color-primary-darker: #2f4572;
  --ifm-color-primary-darkest: #233456;
  --ifm-color-primary-light: #567dcd;
  --ifm-color-primary-lighter: #5f8ae2;
  --ifm-color-primary-lightest: #6f9efc;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --wave1: rgba(255, 255, 255, 0.7);
  --wave2: rgba(255, 255, 255, 0.5);
  --wave3: rgba(255, 255, 255, 0.3);
  --wave4: rgba(255, 255, 255);
  --secondary-btn-text: #333;
  --secondary-btn-bg: #ddd;
  --main-btn-text: white;
  --main-btn-bg: #c80;
  --main-gradient: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #678ad0;
  --ifm-color-primary-dark: #3c5890;
  --ifm-color-primary-darker: #2f4572;
  --ifm-color-primary-darkest: #233456;
  --ifm-color-primary-light: #567dcd;
  --ifm-color-primary-lighter: #5f8ae2;
  --ifm-color-primary-lightest: #6f9efc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --wave1: rgba(27, 27, 29, 0.7);
  --wave2: rgba(27, 27, 29, 0.5);
  --wave3: rgba(27, 27, 29, 0.3);
  --wave4: rgba(27, 27, 29);
  --secondary-btn-text: #fff;
  --secondary-btn-bg: #222;
  --main-btn-text: #fff;
  --main-btn-bg: #b80;
  --main-gradient: linear-gradient(
    60deg,
    rgb(34, 23, 74) 0%,
    rgb(0, 67, 76) 100%
  );
}
