.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    backdrop-filter 0.3s ease;
}

.modal.show {
  opacity: 1;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 500px;
  max-height: 80vh;
  overflow: auto;
  position: relative;
  transform: scale(0);
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.modal.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.modal .close-button {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 28px;
  color: #aaa;
}

.modal .close-button:hover,
.modal .close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal label {
  margin-top: 10px;
  display: block;
  color: #aaa;
}

.modal select,
.modal input,
.modal textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.yaml {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  max-height: 500px;
  overflow: auto;
  background-color: #333;
  color: white;
}

.modal .buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modal button {
  padding: 10px;
  margin: 0px 5px;
  cursor: pointer;
}

.blue {
  background-color: rgb(0, 128, 255);
  color: white;
}

/* Pod Source Modal */

.pod-source {
  padding: 20px 10px;
  color: "#aaa";
  border: 1px solid white;
  border-radius: 5px;
}

.pod-source:hover {
  background-color: rgb(228, 248, 255);
  border: 1px solid #ccc;
}
