html, body {
  margin:0px;
  font-family: sans-serif;
}

/* Login Page */

#login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.image-section {
  flex: 2;
  background-image: url('./assets/loginbackground.jpg');
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.login-section .button-container {
  width: 80%;
  max-width: 300px;
  text-align: center;
}

#github-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#github-button:hover {
  background-color: '#555';
}

/* Projects Page */

#project-cards {
  display: flex;
  flex-wrap: wrap;
}

#project-cards .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  height: 200px;
  text-align: center;
}

#project-cards .card .name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#project-cards .card .date-info {
  font-size: 12px;
  color: grey;
}