body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  background-color: #edf6ff;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
}

.logo img {
  height: 40px;
}

.page-title {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
}

.account {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  right: 20px;
}

.account img {
  height: 40px;
  width: auto;
}

.account span {
  margin-right: 10px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
}

.content-container {
  padding-top: 100px;
}

.content {
  max-width: 1200px;
  margin: auto;
}

/* Login Page */

#login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.image-section {
  flex: 2;
  background-image: url('./assets/loginbackground.jpg');
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.login-section .button-container {
  width: 80%;
  max-width: 300px;
  text-align: center;
}

#github-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#github-button:hover {
  background-color: #555;
}

#github-button:active {
  transform: scale(0.98);
}

/* Projects Page */

#project-cards {
  display: flex;
  flex-wrap: wrap;
}

#project-cards .new-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: white;
}

#project-cards .new-card div {
  font-size: 28px;
  flex-grow: 1;
  border: 5px dotted #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

#project-cards .new-card:hover {
  background-color: #f9f9f9;
  transform: scale(1.05);
  cursor: pointer;
}

#project-cards .new-card:active {
  transform: scale(1.00);
}

#project-cards .card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: white;
}

#project-cards .card:hover {
  background-color: #f9f9f9;
  transform: scale(1.05);
  cursor: pointer;
}

#project-cards .card:active {
  transform: scale(1.00);
}

#project-cards .card .name {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-cards .card .date-info {
  font-size: 12px;
  color: #bbb;
  margin-top: auto;
}