@import url("https://fonts.googleapis.com/css?family=Lato:300:400");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Lato", sans-serif;
  /* background-color: #edf6ff; */
  background: linear-gradient(
    60deg,
    rgb(213, 202, 255) 0%,
    rgb(201, 249, 255) 100%
  );
  /* background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  ); */
}

button {
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
  padding: 4px;
}

button:hover {
  filter: brightness(80%);
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.icon {
  color: #999;
  margin-left: 5px;
}

.icon:hover {
  color: #000;
  cursor: pointer;
}

.icon:active {
  transform: scale(0.98);
}

.container {
  position: relative;
  height: 100vh;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 10;
}

.logo img {
  height: 40px;
}

.active-project {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #333;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  z-index: 10;
}

.float-account {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
  z-index: 10;
}

.float-account img {
  height: 30px;
  width: auto;
  border-radius: 15px;
}

.float-account span {
  margin-left: 10px;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

.dropdown {
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  cursor: pointer;
}

.dropdown-item {
  padding: 10px 20px;
}

.dropdown-item:hover {
  background-color: #ddd;
}

.dropdown-separator {
  height: 1px;
  background-color: #ddd;
  margin: 3px 6px;
}

.dev {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.dev button {
  border: 0;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
}

.content-container {
  padding-top: 100px;
}

.content {
  max-width: 1200px;
  margin: auto;
}

.edit {
  font-weight: bold;
}

.delete {
  background-color: darkred;
  color: white;
}

/* Login Page */

#login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.image-section {
  flex: 2;
  background-image: url("./assets/loginbackground.jpg");
  background-size: cover;
  height: 100%;
  padding: 20px;
}

.login-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.login-section .button-container {
  width: 80%;
  max-width: 300px;
  text-align: center;
}

#github-button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  cursor: pointer;
}

#github-button:hover {
  background-color: #555;
}

#github-button:active {
  transform: scale(0.98);
}

/* Projects Page */

#project-cards {
  display: flex;
  flex-wrap: wrap;
}

#project-cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

#project-cards .card:hover {
  filter: brightness(98%);
  transform: scale(1.05);
  cursor: pointer;
}

#project-cards .card .new-project {
  font-size: 28px;
  flex-grow: 1;
  border: 5px dotted #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

#project-cards .card .name {
  font-size: 24px;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#project-cards .card .date-info {
  font-size: 12px;
  color: #bbb;
  margin-top: auto;
}

.card-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #999;
  background-color: white;
}

.card-menu:hover {
  background-color: white;
  color: #000;
}

.card-menu:active {
  transform: scale(0.98);
}

/* Deckhand page */

#pod-cards {
  display: flex;
  flex-wrap: wrap;
}

#pod-cards select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#pod-cards select > label {
  position: absolute;
  top: -1px;
  left: 20px;
  background-color: white;
}

#pod-cards .card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: 300px;
  width: 200px;
  text-align: center;
  background-color: white;
  transition: all 0.1s ease-in-out;
}

#pod-cards .card:has(.new-pod):hover {
  filter: brightness(98%);
  transform: scale(1.05);
  cursor: pointer;
}

#pod-cards .card:active {
  filter: brightness(100%);
  transform: scale(1);
  cursor: pointer;
}

#pod-cards .card .new-pod {
  font-size: 28px;
  flex-grow: 1;
  border: 5px dotted #eee;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}

#pod-cards .card .name {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

#new-cluster button {
  border: 0px;
  border-radius: 5px;
  background: none;
  opacity: 0.33;
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0px 40px 0px;
}

#new-cluster button:hover {
  opacity: 0.67;
}

#new-cluster button:active {
  transform: scale(0.98);
}
